<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.volunteer.dao.face.VolunteerDao">

	<select id="getVolunteerList" parameterType="Paging" resultType="VolunteerDTO">
		/* VolunteerDao.getVolunteerList */
		SELECT A.VOLUNTEER_CD
				, A.PLACE_CD
		        , B.PLACE_NM
				, A.VOLUNTEER_TITLE
				, A.VOLUNTEER_NOTE
				, A.VOLUNTEER_MAX_CNT
				, A.VOLUNTEER_DT
				, A.REG_ID
				, A.REG_DT
				, A.UPD_ID
				, A.UPD_DT
		  FROM TB_VOLUNTEER_INFO A
		  INNER JOIN TB_PLACE_INFO B
		     ON A.PLACE_CD = B.PLACE_CD
		 ORDER BY A.VOLUNTEER_DT DESC
		  LIMIT #{startNo}, #{endNo}
	</select>
	
    <select id ="selectCntSearchAll" resultType="int" parameterType="SearchDTO">
		/* VolunteerDao.selectCntSearchAll */
		SELECT COUNT(*) 
		  FROM TB_VOLUNTEER_INFO
		 WHERE VOLUNTEER_LOCATE_CITY_CD LIKE CONCAT('%', #{param}, '%') 
		 	AND VOLUNTEER_TITLE LIKE CONCAT('%', #{param1}, '%')
    </select>
    
   	<select id="volunteerList" parameterType="map" resultType="VolunteerDTO">
		/* VolunteerDao.volunteerList */
		SELECT A.VOLUNTEER_CD
				, A.PLACE_CD
		        , B.PLACE_NM
				, A.VOLUNTEER_TITLE
				, A.VOLUNTEER_NOTE
				, A.VOLUNTEER_MAX_CNT
				, A.VOLUNTEER_DT
				, A.REG_ID
				, A.REG_DT
				, A.UPD_ID
				, A.UPD_DT
		  FROM TB_VOLUNTEER_INFO A
		  INNER JOIN TB_PLACE_INFO B
		     ON A.PLACE_CD = B.PLACE_CD
	    WHERE A.VOLUNTEER_LOCATE_CITY_CD LIKE CONCAT('%', #{searchDTO.param}, '%') 
	       AND A.VOLUNTEER_TITLE LIKE CONCAT('%', #{searchDTO.param1}, '%')
		ORDER BY A.VOLUNTEER_DT DESC
		 LIMIT #{paging.startNo}, #{paging.endNo}
	</select>
	
	<select id="getVolunteerPlaceList" parameterType="Paging" resultType="VolunteerPlaceDTO">
		/* VolunteerDao.getVolunteerPlaceList */
		SELECT PLACE_CD
				, PLACE_NM
				, PLACE_AD
				, PLACE_NOTE
				, FILE_NO
				, REG_ID
				, REG_DT
				, UPD_ID
				, UPD_DT
		  FROM TB_PLACE_INFO
		  LIMIT #{startNo}, #{endNo}
	</select>


</mapper>